@import "tailwindcss";

body {
  background: white;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Cart Button Styling */
.cart-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  background: transparent;
  color: white;
  background: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: black;
  /* force all text to black */
}